html {
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.full-screen {
  height: 100vh;
  width: 100vw;
  background-color: 'red';
}

.p-grid {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.p-col {
  padding: 0;
}

.sidebar-container {
  min-height: 94vh;
  background-color: #1e1e1e;
  width: 300px;
}

.datatable-responsive
  .p-datatable-responsive
  .p-datatable-tbody
  > tr
  > td
  .p-column-title {
  display: none;
}

@media screen and (max-width: 40em) {
  .datatable-responsive
    .p-datatable.p-datatable-responsive
    .p-datatable-thead
    > tr
    > th,
  .datatable-responsive
    .p-datatable.p-datatable-responsive
    .p-datatable-tfoot
    > tr
    > td {
    display: none !important;
  }

  .datatable-responsive
    .p-datatable.p-datatable-responsive
    .p-datatable-tbody
    > tr
    > td {
    text-align: left;
    display: block;
    width: 100%;
    float: left;
    clear: left;
    border: 0 none;
  }

  .datatable-responsive
    .p-datatable.p-datatable-responsive
    .p-datatable-tbody
    > tr
    > td
    .p-column-title {
    padding: 0.4rem;
    min-width: 30%;
    display: inline-block;
    margin: -0.4em 1em -0.4em -0.4rem;
    font-weight: bold;
  }

  .datatable-responsive
    .p-datatable.p-datatable-responsive
    .p-datatable-tbody
    > tr
    > td:last-child {
    border-bottom: 1px solid var(--surface-d);
  }
}

.p-panel-title {
  width: 100%;
}
